<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/headTag', {title: 'Add an Experience'}); %>
  </head>
  <body>
    <%- include('../partials/header'); %>

    <h1>Add Your Health Insurance Experience</h1><br />
    <form action="/addExperience" method="POST">
      <h4>Personal Information</h4>

      <%- include('../partials/ageInput'); %>

      <%- include('../partials/zipCodeInput'); %>

      <%- include('../partials/hotuosInput'); %>

      <%- include('../partials/dropDownofSurgeries', {
        inputLabelAndAriaLabel: 'Previous Surgeries',
        labelAndNameAndID: 'prevSurgeries'
      }); %>

      <div class="form-group">
        <label for="oopCost">Out of Pocket Cost After Insurance ($)</label>
        <input class="form-control" type="number" id="oopCost" name="oopCost" step=".01" placeholder="1000">
      </div>

      <h4>Hospital Information</h4>

      <div class="form-group">
        <label for="hospitalName">Name of Hospital</label>
        <input class="form-control" type="text" id="hospitalName" name="hospitalName" placeholder="Kaiser Permanente">
      </div>

      <div class="form-group">
        <label for="hospitalZipCode">Hospital's Zip Code</label>
        <input class="form-control" type="number" id="hospitalZipCode" name="hospitalZipCode" placeholder="94016" required>
      </div>

      <fieldset class="form-group">
        <label for="iooon">In or Out of Network:</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="in-network" name="iooon" value="In-Network">
          <label class="form-check-label" for="in-network">In-Network</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="out-of-network" name="iooon" value="Out-of-Network">
          <label class="form-check-label" for="out-of-network">Out-of-Network</label>
        </div>
      </fieldset>

      <h4>Insurance Information</h4>

      <div class="form-group">
        <label for="companyName">Name of Company</label>
        <input class="form-control" type="text" id="companyName" name="companyName" placeholder="Blue Shield">
      </div>

      <%- include('../partials/iofnInput'); %>

      <div class="form-group">
        <label for="planCategory">Plan Category</label>
        <input class="form-control" type="text" id="planCategory" name="planCategory" placeholder="Gold">
      </div>

      <div class="form-group">
        <label for="premium">Premium ($)</label>
        <input class="form-control" type="number" id="premium" name="premium" step=".01" placeholder="200">
      </div>

      <div class="form-group">
        <label for="deductible">Deductible ($)</label>
        <input class="form-control" type="number" id="deductible" name="deductible" step=".01" placeholder="5000">
      </div>

      <div class="form-group">
        <label for="copay">Copay ($)</label>
        <input class="form-control" type="number" id="copay" name="copay" step=".01" placeholder="25">
      </div>

      <button class="btn btn-success" type="submit">Submit!</button>
    </form>
    
    <%- include('../partials/footer'); %>
  </body>
</html>