<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/headTag', {title: "Find My Ideal Plan"}); %>
    <link rel="stylesheet" href="/css/findIdealPlan.css">
  </head>
  <body>
    <%- include('../partials/header'); %>

    <h1>Find My Ideal Plan</h1>
    <h3>Fill out the information below, and click "Find me a Plan!" to see competitive offers in your area.</h3>

    <form id="findPlanForm">
      <h4>Personal Information</h4>

      <%- include('../partials/ageInput'); %>

      <%- include('../partials/zipCodeInput'); %>

      <%- include('../partials/hotuosInput'); %>

      <%- include('../partials/dropDownofSurgeries', {
        inputLabelAndAriaLabel: 'Surgery Needed',
        labelAndNameAndID: 'surgeryNeeded'
      }); %>

      <%- include('../partials/iofnInput'); %>

      <button class="btn btn-success" type="submit">Find me a Plan!</button>
    </form>

    <div id="result"></div>

    <script>
      function returnFromExperiences(theCity, theState, fromExperiences) {
        // counter for tables
        var sameCityAndStateCounter = 1;
        var sameStateCounter = 1;

        var sameCityAndState = fromExperiences.experiencesWithSameCityAndState;
        var sameState = fromExperiences.experiencesWithSameState;

        var theHTML = `<div class="table-responsive">
          <table class="table table-hover caption-top aTable">
          <caption>Health Insurance Experiences in ${theCity}, ${theState}:</caption>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Age</th>
              <th scope="col">History of Tobacco Use or Smoking</th>
              <th scope="col">Previous Surgeries</th>
              <th scope="col">Out of Pocket Cost After Insurance</th>
              <th scope="col">Hospital Name</th>
              <th scope="col">Hospital City</th>
              <th scope="col">In or Out of Network</th>
              <th scope="col">Insurance Company</th>
              <th scope="col">Individual or Family Network</th>
              <th scope="col">Plan Category</th>
              <th scope="col">Premium</th>
              <th scope="col">Deductible</th>
              <th scope="col">Copay</th>
            </tr>
          </thead>
          <tbody>`;

        for (var key in sameCityAndState) {
          theHTML += `
            <tr>
              <th scope="row">${sameCityAndStateCounter}</th>
              <td>${sameCityAndState[key].age}</td>
              <td>${sameCityAndState[key].hotuos}</td>
              <td>`;
          
          // different commands based on whether or not the entry has many surgeries
          if (Array.isArray(sameCityAndState[key].prevSurgeries)) {
            // if they have many surgeries
            for (var surgeryIndex in sameCityAndState[key].prevSurgeries) { 
              theHTML += `
                ${sameCityAndState[key].prevSurgeries[surgeryIndex]}<br/>
              `;
            }
          } else {
            theHTML += `
                ${sameCityAndState[key].prevSurgeries}<br/>
            `;
          }

          theHTML +=
          `</td>
            <td>${sameCityAndState[key].oopCost}</td>
            <td>${sameCityAndState[key].hospitalName}</td>
            <td>${sameCityAndState[key].hospitalCity}</td>
            <td>${sameCityAndState[key].iooon}</td>
            <td>${sameCityAndState[key].companyName}</td>
            <td>${sameCityAndState[key].iofn}</td>
            <td>${sameCityAndState[key].planCategory}</td>
            <td>${sameCityAndState[key].premium}</td>
            <td>${sameCityAndState[key].deductible}</td>
            <td>${sameCityAndState[key].copay}</td>
          </tr>`;

          sameCityAndStateCounter++;
        }
      
        theHTML += `
              </tbody>
            </table> 
          </div>
        `;

        // experiences in all other cities in same state
        theHTML += `<div class="table-responsive">
          <table class="table table-hover caption-top aTable">
            <caption>Health Insurance Experiences in Other Cities in ${theState}:</caption>
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Age</th>
                <th scope="col">City of Residence</th>
                <th scope="col">History of Tobacco Use or Smoking</th>
                <th scope="col">Previous Surgeries</th>
                <th scope="col">Out of Pocket Cost After Insurance</th>
                <th scope="col">Hospital Name</th>
                <th scope="col">Hospital City</th>
                <th scope="col">In or Out of Network</th>
                <th scope="col">Insurance Company</th>
                <th scope="col">Individual or Family Network</th>
                <th scope="col">Plan Category</th>
                <th scope="col">Premium</th>
                <th scope="col">Deductible</th>
                <th scope="col">Copay</th>
              </tr>
            </thead>
            <tbody>`;
        
        for (var key in sameState) {
          theHTML += `
            <tr>
              <th scope="row">${sameStateCounter}</th>
              <td>${sameState[key].age}</td>
              <td>${sameState[key].city}</td>
              <td>${sameState[key].hotuos}</td>
              <td>`;
          
          // different commands based on whether or not the entry has many surgeries
          if (Array.isArray(sameState[key].prevSurgeries)) {
            // if they have many surgeries
            for (var surgeryIndex in sameState[key].prevSurgeries) { 
              theHTML += `
                ${sameState[key].prevSurgeries[surgeryIndex]}
              `;
            }
          } else {
            theHTML += `
                ${sameState[key].prevSurgeries}
            `;
          }
              
          theHTML +=
              `
              </td>
              <td>${sameState[key].oopCost}</td>
              <td>${sameState[key].hospitalName}</td>
              <td>${sameState[key].hospitalCity}</td>
              <td>${sameState[key].iooon}</td>
              <td>${sameState[key].companyName}</td>
              <td>${sameState[key].iofn}</td>
              <td>${sameState[key].planCategory}</td>
              <td>${sameState[key].premium}</td>
              <td>${sameState[key].deductible}</td>
              <td>${sameState[key].copay}</td>
            </tr>
          `;

          sameStateCounter++;
        }
      
        theHTML += `
              </tbody>
            </table> 
          </div>
          `;

        return `${theHTML}`;
      }

      function returnStatePlans(theState) {
        var theHTML = `<div class="table-responsive">
          <table class="table table-hover caption-top aTable">
            <caption>Publicly Available Data on Plans in ${theState}:</caption>
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Premium</th>
                <th scope="col">Deductible</th>
                <th scope="col">Copay</th>
                <th scope="col">Category</th>
                <th scope="col">% Enrolled</th>
              </tr>
            </thead>
            <tbody>`;
        
        // for (var key in fromStates) {
        //   theHTML += `
        //     <tr>
        //       <th scope="row">${key}</th>
        //       <td>${fromStates[key].premium}</td>
        //       <td>${fromStates[key].deductible}</td>
        //       <td>${fromStates[key].copay}</td>
        //       <td>${fromStates[key].category}</td>
        //       <td>${fromStates[key].percentEnrolled}</td>
        //     </tr>
        //   `;
        // }

        theHTML += `
            </tbody>
          </table> 
        </div>
        `;

        return `${theHTML}`;
      }

      // triggers when the form is submitted
      $("#findPlanForm").submit(function(event) {
        event.preventDefault();

        // ajaxRequest to send inputted data to server
        var ajaxRequest = $.ajax({
          url: "/findIdealPlan",
          type: 'post',
          data: $('#findPlanForm').serialize()
        }).done((response) => {
          // show them the data based on their responses
          if (response) {
            $("#result").html(returnFromExperiences(response.city, response.state, response.queryExperiences));
            $("#result").append(returnStatePlans(response.state));
          } else {
            // error in response
            console.log("Error in Response!");
          }
        }).fail(() => {
          $("#result").html("<h1>Error! Did you Enter Your Information Correctly?</h1>");
        });
      });
    </script>

    <%- include('../partials/footer'); %>
  </body>
</html>