<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/headTag', {title: state}); %>
    <link rel="stylesheet" href="/css/statePage.css">
  </head>
  <body>
    <%- include('../partials/header'); %>

    <h1><%= state %></h1>

    <img src="/images/states/<%=state%>.jpg" alt="<%=state%>" id="stateImage">

    <!--State Plans Table-->
    <div class="table-responsive">
      <table class="table table-hover caption-top aTable">
        <caption>State Plans</caption>
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Premium</th>
            <th scope="col">Deductible</th>
            <th scope="col">Copay</th>
            <th scope="col">Category</th>
            <th scope="col">% Enrolled</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Plan A</th>
            <td>$200</td>
            <td>$1,593</td>
            <td>$25</td>
            <td>Gold</td>
            <td>29</td>
          </tr>
          <tr>
            <th scope="row">Plan B</th>
            <td>$280</td>
            <td>$4,292</td>
            <td>$10</td>
            <td>Silver</td>
            <td>23</td>
          </tr>
          <tr>
            <th scope="row">Plan C</th>
            <td>$150</td>
            <td>$1,593</td>
            <td>$23</td>
            <td>Platinum</td>
            <td>13</td>
          </tr>
          <tr>
            <th scope="row">Plan D</th>
            <td>$350</td>
            <td>$833</td>
            <td>$8</td>
            <td>Gold</td>
            <td>18</td>
          </tr>
          <tr>
            <th scope="row">Plan E</th>
            <td>$99</td>
            <td>$2,593</td>
            <td>$78</td>
            <td>Bronze</td>
            <td>17</td>
          </tr>
        </tbody>
      </table> 
    </div>

    <!-- Experiences in this State -->
    <!-- Uses EJS to go through responseFromExperiencesInState to populate Experience Tables -->
    <div class="table-responsive">
      <table class="table table-hover caption-top aTable">
        <caption>Experiences in this State</caption>
        <thead>
          <th scope="col"></th>
          <th scope="col">Age</th>
          <th scope="col">City of Residence</th>
          <th scope="col">History of Tobacco Use or Smoking</th>
          <th scope="col">Previous Surgeries</th>
          <th scope="col">Out of Pocket Cost After Insurance</th>
          <th scope="col">Hospital Name</th>
          <th scope="col">Hospital City</th>
          <th scope="col">In or Out of Network</th>
          <th scope="col">Insurance Company</th>
          <th scope="col">Individual or Family Network</th>
          <th scope="col">Plan Category</th>
          <th scope="col">Premium</th>
          <th scope="col">Deductible</th>
          <th scope="col">Copay</th>
        </thead>
        <tbody>
          <% for (var key in responseFromExperiencesInState) { %>
          <tr>
            <th scope="row"><%= (parseInt(key) + 1) %></th>
            <td><%= responseFromExperiencesInState[key].age %></td>
            <td><%= responseFromExperiencesInState[key].city %></td>
            <td><%= responseFromExperiencesInState[key].hotuos %></td>
            <td>
            <% if (Array.isArray(responseFromExperiencesInState[key].prevSurgeries)) { %>
              <% for (var surgeryIndex in responseFromExperiencesInState[key].prevSurgeries) { %>
                <%= responseFromExperiencesInState[key].prevSurgeries[surgeryIndex] %>
              <% } %>
            <% } else { %>
              <%= responseFromExperiencesInState[key].prevSurgeries %>
            <% } %>
            </td>
            <td><%= responseFromExperiencesInState[key].oopCost %></td>
            <td><%= responseFromExperiencesInState[key].hospitalName %></th>
            <td><%= responseFromExperiencesInState[key].hospitalCity %></th>
            <td><%= responseFromExperiencesInState[key].iooon %></th>
            <td><%= responseFromExperiencesInState[key].companyName %></th>
            <td><%= responseFromExperiencesInState[key].iofn %></th>
            <td><%= responseFromExperiencesInState[key].planCategory %></th>
            <td><%= responseFromExperiencesInState[key].premium %></th>
            <td><%= responseFromExperiencesInState[key].deductible %></th>
            <td><%= responseFromExperiencesInState[key].copay %></th>
          </tr>
          <% } %>
        </tbody>
      </table> 
    </div>

    <%- include('../partials/contributeButton'); %>

    <%- include('../partials/footer'); %>
  </body>
</html>