<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/headTag', {title: state}); %>
    <link rel="stylesheet" href="/css/statePage.css">
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>

    <h1><%= state %></h1>

    <img src="/images/states/<%=state%>.jpg" alt="<%=state%>" id="stateImage">

    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>