<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/headTag', {title: state}); %>
    <link rel="stylesheet" href="/css/statePage.css">
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>

    <h1><%= state %></h1>

    <img src="/images/states/<%=state%>.jpg" alt="<%=state%>" id="stateImage">

    <!--State Plans Table-->
    <div class="table-responsive">
      <table class="table table-hover caption-top aTable">
        <caption>State Plans</caption>
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Premium</th>
            <th scope="col">Deductible</th>
            <th scope="col">Copay</th>
            <th scope="col">Category</th>
            <th scope="col">% Enrolled</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Plan A</th>
            <td>$200</td>
            <td>$1,593</td>
            <td>$25</td>
            <td>Gold</td>
            <td>29</td>
          </tr>
          <tr>
            <th scope="row">Plan B</th>
            <td>$280</td>
            <td>$4,292</td>
            <td>$10</td>
            <td>Silver</td>
            <td>23</td>
          </tr>
          <tr>
            <th scope="row">Plan C</th>
            <td>$150</td>
            <td>$1,593</td>
            <td>$23</td>
            <td>Platinum</td>
            <td>13</td>
          </tr>
          <tr>
            <th scope="row">Plan D</th>
            <td>$350</td>
            <td>$833</td>
            <td>$8</td>
            <td>Gold</td>
            <td>18</td>
          </tr>
          <tr>
            <th scope="row">Plan E</th>
            <td>$99</td>
            <td>$2,593</td>
            <td>$78</td>
            <td>Bronze</td>
            <td>17</td>
          </tr>
        </tbody>
      </table> 
    </div>

    <%- include('../partials/contributeButton'); %>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>